<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}{% endblock head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Url Shortner</title>
</head>
<body>
    <nav>
        <button><a href="/">Home</a></button>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>
</body>
</html>
